<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title></title>
</head>
<body>
<h1 align="center"><br>
</h1>
<div align="center"><img moz-do-not-send="true"
src="https://t4.ftcdn.net/jpg/00/73/71/41/240_F_73714100_nqZbr59s31W6vrtdbjP3z9wJLwfJbYQF.jpg"
alt="Logo" width="187" height="200"><br>
<br>
<br>
<h1>Bookshop</h1>
<p>Log in Successful</p>
<h2>Welcome {{title}} {{name}}</h2>
<h3>You can now access the store</h3>
</div>   
<!--hi --->
</body>
</html>